@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500');

$font-stack-1: 'Montserrat', sans-serif;
$font-stack-2: 'Times-New-Roman-Bold-Italic', serif;
$brown: #AB5C56;
$black: #000000;
$yellow: #EDEAE0;


$font-size-display1: 48px;
$font-size-display2: 46px;
$font-size-h3:30px;
$font-size-h5: 25px;
$font-size-h6: 20px;

$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-medium: 500;

$white: #fff;


body {
    color: $black;
    font-family: $font-stack-1;
    font-size: $font-size-h6;
    background-color: $yellow;
    font-weight: $font-weight-normal;
    line-height: 35px;
}

a, a:hover {
    color: $brown;
}

.navbar-nav {padding-top: 50px;}

.the-title {
    font-size: $font-size-h5;
    font-family: $font-stack-1;
    font-weight: $font-weight-medium;
    line-height: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
    
    color: $brown;
}

.header-title {
    color: $yellow;
    font-family: $font-stack-1;
    font-size: $font-size-display1;
    line-height: normal;
     font-weight: $font-weight-normal;
    font-style: italic;
    
}

.home-headline, .sub-title {
    color: $black;
    font-family: $font-stack-2;
    font-size: $font-size-display2;
    line-height: normal;
    letter-spacing: -0.08px;
    font-style: italic;
    font-weight: $font-weight-bold;
}

.blockquote-footer {
    font-size: $font-size-h6;
    color: $yellow;
    $font-weight-normal: $font-weight-normal;
}

.about-author-description {
    color: $yellow;
    line-height: 35px;
    font-weight: $font-weight-normal;
    font-size: $font-size-h6;
}

.header-bg {
    background-image: url(img/hero-img.png);
    background-position: inherit;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 780px;
    display: flex;
  align-items: flex-end;
    padding-bottom: 80px;
 // justify-content: center;

    
}
.home-section-title {
    font-size: $font-size-h3;
    
}

.work {
    background-color: $white;
}

.the-content {
    color: $black;
}

.c-fix {
    background-color: transparent;
    height: 95px;
}

.nav.sidebar-nav li a {
    font-family: $font-stack-2;
    line-height: 47px!important;
    font-size: 30px!important;
    color: $brown!important;
}


.book-reviews-quote, .book-reviews-source-name {
    color: $black;
    font-weight: $font-weight-normal;
}
.sidebar-nav {
    margin: 40px;
}

.sidebar-nav li a {
    padding: 0;
}

footer {
    background-color: #1A1919;
    font-size: $font-size-h6;
    color: #A9A387;
}

.grow {
  height: 40px;
  width: 100%;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  overflow: hidden;
}
.grow:hover {
    min-height: 400px;
  height: auto;
    cursor: pointer;
}

.vmiddle {
  display: flex;
  align-items: center;
}

/* -- HAMBURGER -- */

.hamburger {
    z-index: 9999;
}

.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom {
    background-color: $brown;
}
#wrapper.toggled #sidebar-wrapper, .sidebar-nav {
    width: 280px;
}
#sidebar-wrapper {
    background: #FBF7EA!important;
}
.nav.sidebar-nav li a {
    font-size: $font-size-display1;
    color: $brown;
    font-family: $font-stack-1;
    font-weight: $font-weight-bold;
    line-height: 57px
}

@media (max-width: 767px){
    #wrapper.toggled #sidebar-wrapper, .sidebar-nav {
        width: 280px;
    }
     .txt-ctr {text-align: center!important;}
}

@media (max-width: 375px) {
    .the-title {
        font-size: 20px;
        line-height: 30px;
    } 
}
